.body {
    width: 100%;
    margin: auto;
}

.brand-logo {
    font-family: 'Playfair Display SC';
    letter-spacing: 15px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

form {
    display: flex;
    justify-content: center;
}

.userInput {
    margin: 35px 20px;;
}

label {
    font-size: 16px;
}

#searchBtn {
    background-color: #ff6f00;
    position: relative;
    justify-content: center;
}

#searchBtn:hover {
    background-color: #304269;
}

.nav-wrapper {
    background-color: #F26101;
    
    font-size: 20px;
}



@media only screen and (max-width: 768px) {
    #nav-wrapper {
       display: grid;
       justify-content: left;
    }
}
.col {
  column-width: 250px;  
  column-gap: 25in;
  padding: 15px 15px;;
  margin: auto;

}
.card {
    display: flex;
    justify-content: right;
    height: 250px;
    width: 300px;
}

.card-image {
    display: flex;
    justify-content: left;
    width: 60%;
    height: 250px;
    width: 250px;
  }
  .card-image img {
    height: 100%;
  }
  .card-content {
    width: 60%;
    float: right;
  } */

#results {
    text-align: center;
    font-family: 'Roboto';
}

#map {
    height: 400px;
    width: 100%;  
}

.page-footer {
    background-color: #F26101;
}

/* About page CSS  */

#aboutWhat2Do {
    color: #91BED4;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 15px 15px;;
}

#aboutTitle {
    color: #F26101;
    padding: 20px 20px;;
    text-align: center;
    font-family: 'Playfair Display SC';
    text-transform: uppercase;
    font-weight: bold;
    display: grid;
    position: relative;
    justify-content: center;
}

#description {
    position: relative;
    padding: 5px;
    font-size: 20px;
    font-family: 'Halant';
}

#aboutApp {
    text-align: center;
    margin: 5px;
    padding: 5px 5px;;
}

#descApp {
    text-align: center;
    margin: auto;
    padding: 15px;
    position: relative;

}