.document {
    background-color: lightgrey;
}

.navbar-brand {
    font-weight: bold;
    font-size: 30px;
}

.navbar {
    background-color: #fd7e14;
    font-size: 20px;
}

.results {
    text-align: center;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}